:root {
  --bg-color: #FFFDF6;
  --content-bg: #FAF6E9;
  --accent-light: #DDEB9D;
  --accent-dark: #A0C878;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--bg-color);
  color: #333;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.content {
  max-width: 900px;
  padding: 5px;
  margin: 0 auto; /* centers text */
}

header {
  background-color: var(--accent-dark);
  padding: 1em;
  text-align: center;
  color: white;
}

.logo {
  width: 280px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

nav {
  background-color: var(--accent-light);
  text-align: center;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 500;  
}
nav a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 8px 12px;
}

nav a.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px; 
  transform: translateX(-50%);
  width: 150%;
  height: 2.5px;
  background-color:  var(--accent-dark);
  border-radius: 2px;
}


nav a,
.dropbtn {
  margin: 0 1em;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  background-color: transparent;
  border: none;
  font-family: 'Helvetica Neue', sans-serif;
  cursor: pointer;
  padding: 0.5em 1em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--accent-light);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  border-radius: 4px;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  background-color: var(--accent-light);
  white-space: nowrap; 
}

.dropdown-content a:hover {
  background-color: #cde09d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #cde09d;
}

.container {
  max-width: 960px;
  margin: 2em auto;
  background-color: var(--content-bg);
  padding: 1em;
  border-radius: 8px;
}

main {
  padding-left: 1em;
  padding-right: 1em;
}

footer {
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
  color: #666;
}

.post {
  border-bottom: 1px solid #ccc;
  padding: 1em 0;
}

.notice-box {
  background-color: #fdfaf0;
  padding: 1em;
  border-left: 4px solid var(--accent-light);
  margin-bottom: 2em;
  font-size: 0.95em;
  color: #000;
}

.section-heading {
  font-size: 1.2em;
  color: #333;
  margin-top: 2em;
}

.description {
  color: #000;
  line-height: 1.6;
}


.glossary-search {
  margin-bottom: 20px;
  text-align: center;
}

.glossary-search input {
  margin-top: 20px;
  width: 100%;
  max-width: 420px;
  padding: 10px 14px;
  font-size: 0.9rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

